.movie-container {
    display: flex; 
    overflow-x: auto;
    white-space: nowrap;
    height: 24em;
}

.movie-card {
    min-width: 200px;
    padding: 2px;
    margin-right: 10px;
}

.movie-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    flex-direction: row;
    padding: 5px;
}

.movie-card h2 {
    text-decoration: underline;
    white-space: nowrap;
    margin: 2px;
    text-align: center;
}

.movie-card p {
    font-weight: bold;
    margin: 2px;
    text-align: center;
}

.history-button {
    background-color: rgb(90, 18, 18);
    border-radius: 25px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 5px;
    color: white;
    margin-top: 5px;
}


